[submodule "extras/makers-devops"]
	path = extras/makers-devops
	url = https://github.com/Infineon/makers-devops.git
	branch=main
[submodule "extras/arduino-core-tests"]
	path = extras/arduino-core-tests
	url = https://github.com/Infineon/arduino-core-tests.git
[submodule "extras/arduino-xensiv-3d-magnetic-sensor-tlx493d"]
	path = extras/arduino-xensiv-3d-magnetic-sensor-tlx493d
	url = https://github.com/Infineon/arduino-xensiv-3d-magnetic-sensor-tlx493d.git
