[submodule "extras/makers-devops"]
	path = extras/makers-devops
	url = https://github.com/Infineon/makers-devops.git
[submodule "extras/arduino-core-tests"]
	path = extras/arduino-core-tests
	url = https://github.com/Infineon/arduino-core-tests.git
